@charset "utf-8";
/* CSS Document */
body {
  background-color:white;
	 margin: 0;
  margin-top: 5rem;
}

/* Picture Slideshow */	
.slideshowContainer{
	height: 100vh;
	overflow: hidden;
}

.slideshowWrapper{
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	animation: slide 18s infinite;
}

@keyframes slide{
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(0);
	}
	30%{
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(-100%);
	}
	55%{
		transform: translateX(-200%);
	}
	75%{
		transform: translateX(-200%);
	}
	80%{
		transform: translateX(-300%);
	}
	90%{
		transform: translateX(-300%);
	}
	100%{
		transform: translateX(-400%);
	}
}

img{
	width: 100%;
	height: 100%;
	object-fit: fill;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 3px solid black;
  padding: 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Add higher z-index value */
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 0.5rem;
  position: relative;
	font-size: 24px;
	padding-right: 1px;

}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
	justify-content: space-between;
}

nav ul li {
  position: relative;
  padding: 0 20px; /* add padding to the left and right of the product tab */
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 200%; /* adjust the position of the submenu to be below the product tab */
  left: 0;
  width: 300px; /* increase the width of the submenu */
  margin: auto auto; /* center the submenu horizontally */
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  padding: 0.5rem 1rem;
}

nav ul li ul li:hover {
  background-color: #f2f2f2;
}

/* Grid san pham */
.h1{
	font-family: 'Montserrat', sans-serif;
	margin-left: 10px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1rem;
}
.title{
    margin-top: 3rem;
    text-align: center;
    position: relative;
}
.title::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    width: 200px;
    background-color: #000;
}
.title h1{
    font-weight: bold;
    opacity: 0.8;
}
.sanPham{
    margin: 3rem 0;
}
.containerSP{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.itemSP{
    width: calc(25% - 16px);
    margin: 8px;
    background-color: #fff;
    max-width: 300px;
}
.imgSP{
    position: relative;
    overflow: hidden;
}
.itemSP img{
    width: 100%;
    display: block;
}
.imgSP div{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.8rem;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.add-btn{
    width: 90%;
    background-color: transparent;
    border: 2px solid #f2a80b;
    color: #f2a80b;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
}
.imgSP:hover div{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.contentSP{
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.book-title{
    display: block;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.2rem 0;
	font-family: 'Montserrat', sans-serif;
}
.author{
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.9;
    text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;
	
}
.author span{
    font-weight: 400;
    color: rgb(76, 99, 76);
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.contentSP div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.giaTien{
    color: #ff1616;
	font-weight: bold;
	
}


@media screen and (max-width: 1200px){
    .product-item{
        width: calc(25% - 16px);
    }
}
@media screen and (max-width: 992px){
    .product-item{
        width: calc(33.3333% - 16px);
    }
}
@media screen and (max-width: 768px){
    .product-item{
        width: calc(50% - 16px);
    }
}
@media screen and (max-width: 576px){
    .product-item{
        width: calc(100% - 16px);
    }
}


.blackbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.categories {
  flex: 1;
}

.categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
	color: white;
}

.categories li {
  margin-right: 1rem;
	color: white;
}

.policy {
  flex: 1;
	color: white;
}